https://raw.githubusercontent.com/edsters78/Project_Proposal/main/student-mat.csv <br> 
This is the link to the data set we are using.

# Title

## Introduction
h

## Preliminary Exploratory Data Analysis

- Demonstrate that the dataset can be read from the web into R 
- Clean and wrangle your data into a tidy format
- Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
- Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [6]:
options(repr.matrix.max.rows = 10)
url<-"https://raw.githubusercontent.com/edsters78/Project_Proposal/main/student-mat.csv"
student_data<-read_csv(url)
student_data

Parsed with column specification:
cols(
  .default = col_character(),
  age = col_double(),
  Medu = col_double(),
  Fedu = col_double(),
  traveltime = col_double(),
  studytime = col_double(),
  failures = col_double(),
  famrel = col_double(),
  freetime = col_double(),
  goout = col_double(),
  Dalc = col_double(),
  Walc = col_double(),
  health = col_double(),
  absences = col_double(),
  G1 = col_double(),
  G2 = col_double(),
  G3 = col_double()
)

See spec(...) for full column specifications.

    school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1   GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2   GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3   GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4   GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5   GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
⋮   ⋮      ⋮   ⋮   ⋮       ⋮       ⋮       ⋮    ⋮    ⋮        ⋮        ⋱ ⋮
391 MS     M   20  U       LE3     A       2    2    services services ⋯ 5
392 MS     M   17  U       LE3     T       3    1    services services ⋯ 2
393 MS     M   21  R       GT3     T       1    1    other    other    ⋯ 5
394 MS     M   18  R       LE3     T       3    2    services other    ⋯ 4
395 MS     M   19  U       LE3     T       1    1    other    at_home  ⋯ 3
    freetime goout Dalc Walc health absences G1 G2 G3
1   3        4     1    1    3       6        5  6  6
2   3        3     1    1    3       4        5  5  6
3   3        2     2    3    3      10        7  8 10
4   2        2     1    1    5       2       15 14 15
5   3        2     1    2    5       4        6 10 10
⋮   ⋮        ⋮     ⋮    ⋮    ⋮      ⋮        ⋮  ⋮  ⋮
391 5        4     4    5    4      11        9  9  9
392 4        5     3    4    2       3       14 16 16
393 5        3     3    3    3       3       10  8  7
394 4        1     3    4    5       0       11 12 10
395 2        3     3    3    5       5        8  9  9

## Methods
 - Explain how you will conduct either your data analysis and which variables/columns you will use. Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?
 - Describe at least one way that you will visualize the results

## Expected outcomes and significance
 - What do you expect to find?
 - What impact could such findings have?
 - What future questions could this lead to?